<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

   <h1>Hi, {{name}}</h1>     <!-- name parameter passed from flask app -->
 <h2>Name = {{answer['akshit']}}</h2>     <!--  Getting dict from flask  app -->


 <!-- Using for loop in Html code (type ffor : snippet of flask) --> 

 <ul>
     {% for item in passedList %}
     <li>{{item}}</li> 
     {%endfor%} 
 
 </ul>

 <!-- Using if-else in html code -->

 {% if user_logged_in %}
         <h4>You are Logged in</h4>
 {% else %}
         <h4>You are not logged in</h4>
 {% endif %}
 

 
 
</body>
</html>